<form ng-hide="isHome" class="navbar-form navbar-left" role="form" ng-submit="processForm()">
    <div class="form-group">
        <angucomplete-alt id="items"
                      placeholder="Search items"
                      pause="100"
                      selected-object="formData.item"
                      local-data="itemSuggestions"
                      search-fields="name"
                      title-field="name"
                      minlength="1"
                      input-class="form-control form-control-small"
                      text-searching="Searching for items..."
                      match-class="highlight">
        </angucomplete-alt>
    </div>
    <div class="form-group">
        <angucomplete-alt id="cities"
                      placeholder="Search cities"
                      pause="100"
                      selected-object="formData.city"
                      local-data="citySuggestions"
                      search-fields="name"
                      title-field="name"
                      minlength="1"
                      input-class="form-control form-control-small"
                      text-searching="Searching for cities..."
                      match-class="highlight">
        </angucomplete-alt>
    </div>
    <div class="form-group">
        <p class="input-group" style="margin: 0; width: 11em;">
            <input type="text" 
                   class="form-control" 
                   uib-datepicker-popup="dd.MM.yyyy" 
                   ng-model="formData.from" 
                   is-open="datepickerStatus.fromOpened" 
                   min-date="minDate" 
                   max-date="maxDate" 
                   datepicker-options="dateOptions"  
                   close-text="Close" 
                   placeholder="From"/>
            <span class="input-group-btn">
                <button type="button" 
                        class="btn btn-default" 
                        ng-click="fromOpen($event)">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <div class="form-group">
        <p class="input-group" style="margin: 0; width: 11em;">
            <input type="text" 
                   class="form-control" 
                   uib-datepicker-popup="dd.MM.yyyy" 
                   ng-model="formData.to" 
                   is-open="datepickerStatus.toOpened" 
                   min-date="minDate" 
                   max-date="maxDate" 
                   datepicker-options="dateOptions" 
                   close-text="Close"
                   placeholder="To"/>
            <span class="input-group-btn">
                <button type="button" 
                        class="btn btn-default" 
                        ng-click="toOpen($event)">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    
    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
</form>