<form class="form-horizontal" action="" method="">
    <label for="login_username">Username</label>   
    <input type="text" class="form-control" id="login_username" 
       placeholder="Username" 
       ng-model="formData.username"
       required 
       autofocus>
    <br>
    <label for="login_password">Password</label>
    <input type="password" class="form-control" id="login_password" 
           placeholder="Password" 
           ng-model="formData.password"
           required>
</form>