<form class="form-horizontal" ng-submit="processAddressForm()" data-toggle="validator">
	<div class="form-group">
		<select class="form-control" id="address" ng-model="formData.addressId" style="border-radius: 4px;" required>
				<option style="display:none" value="">Select an address</option>
	            <option ng-repeat="address in $storage.SHeroAddresses" value="{{address.id}}">
	                {{address.street}} {{address.number}} ({{address.zipcode}} {{address.city}})
	            </option>
	    </select>
	</div>
	<br/>
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 col-xs-12" for="country">Country *</label>
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 input-group">
			<input type="text" class="form-control" name="country" ng-model="addressData.country" placeholder="{{addressData.country || 'Enter your country'}}" style="border-radius: 4px;" required>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 col-xs-12" for="city">City *</label>
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 input-group">
			<input type="text" class="form-control" name="city" ng-model="addressData.city" placeholder="{{addressData.city || 'Enter your city'}}" style="border-radius: 4px;" required>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 col-xs-12" for="zipcode">Zip code *</label>
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 input-group">
			<input type="text" class="form-control" name="zipcode" ng-model="addressData.zipcode" placeholder="{{addressData.zipcode || 'Enter your zip code'}}" style="border-radius: 4px;" required>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 col-xs-12" for="street">Street *</label>
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 input-group">
			<input type="text" class="form-control" name="street" ng-model="addressData.street" placeholder="{{addressData.street || 'Enter your street'}}" style="border-radius: 4px;" required>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 col-xs-12" for="number">Number *</label>
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 input-group">
			<input type="text" class="form-control" name="number" ng-model="addressData.number" placeholder="{{addressData.number || 'Enter your street number'}}" style="border-radius: 4px;" required>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 col-xs-12" for="additional">Additional information</label>
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 input-group">
			<input type="text" class="form-control" name="additional" ng-model="addressData.additional" placeholder="{{addressData.additional || 'Enter your additional information'}}" style="border-radius: 4px;">
		</div>
	</div>

	<br/>
	<div class="form-group">
		<div class="col-sm-10">
			<button type="submit" ng-click="processAddressForm()" class="btn btn-success">Update address</button>  <!-- added ng-click="processAddressForm()" -->
		</div>
	</div>
	<!-- added "delete-button" -->
	<div class="form-group">
		<div class="col-sm-10">
			<button ng-click="deleteAddress()" class="btn btn-success">Delete address</button>  
		</div>
	</div>
	
</form>
<button ng-click="processNewAddress()" class="btn btn-success">Add address</button>