<form class="form-horizontal" ng-submit="processGeneralForm()" data-toggle="validator">
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 col-xs-12" for="firstname">First name</label>
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 input-group">
			<input type="text" class="form-control" name="firstname" ng-model="generalForm.firstname" placeholder="{{$storage.user.firstname || 'Enter your first name'}}" style="border-radius: 4px;">
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 col-xs-12" for="lastname">Last name</label>
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 input-group">
			<input type="text" class="form-control" name="lastname" ng-model="generalForm.lastname" placeholder="{{$storage.user.lastname || 'Enter your last name'}}" style="border-radius: 4px;">
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 col-xs-12" for="email">Email</label>
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 input-group">
			<input type="email" class="form-control" name="email" ng-model="generalForm.emailAddress" placeholder="{{$storage.user.emailAddress || 'Enter your email address'}}" style="border-radius: 4px;">
		</div>
	</div>

	<br/>
	<div class="form-group">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-success">Update information</button>
		</div>
	</div>
</form>